---
import Button from "@/components/starwind/button"
import {
  Sheet,
  SheetClose,
  SheetContent,
  SheetDescription,
  SheetFooter,
  SheetHeader,
  SheetTitle,
  SheetTrigger,
} from "@/components/starwind/sheet"
import { Accordion, AccordionContent, AccordionItem, AccordionTrigger } from "@/components/starwind/accordion"
import { Item, ItemContent, ItemTitle, ItemDescription, ItemActions, ItemGroup } from "@/components/starwind/item"

import { Toggle } from "astro-theme-toggle"
import LangSelect from "@/components/ui/blocks/LangSelect.astro"
import IconList from "phosphor-astro/List.astro"
import IconOutdent from "phosphor-astro/TextOutdent.astro"
import IconArticle from "@tabler/icons/outline/article.svg"
import { navigationLinks } from "@/config/menu"
---

<Sheet>
  <SheetTrigger>
    <IconOutdent class="size-8" />
  </SheetTrigger>
  <SheetContent>
    <SheetHeader>
      <SheetTitle class="flex flex-row">
        <!-- 
        <Button variant="ghost">
          <Toggle class="pt-1.5" />
        </Button>
         -->
        <LangSelect isMobile />
      </SheetTitle>
      <!-- <SheetDescription>Sheet description</SheetDescription> -->
    </SheetHeader>
    <div class="px-4">
      <Accordion>
        {
          navigationLinks.map((item) => (
            <div>
              {item.items ? (
                <AccordionItem value={item.label!}>
                  <AccordionTrigger class="text-lg">{item.label}</AccordionTrigger>
                  <AccordionContent>
                    <ItemGroup>
                      {item.items.map((subitem) => (
                        <Item as="a" href={subitem.href}>
                          <ItemTitle>{subitem.label}</ItemTitle>
                        </Item>
                      ))}
                    </ItemGroup>
                  </AccordionContent>
                </AccordionItem>
              ) : (
                <Item as="a" href={item.href} class="">
                  <ItemTitle class="-ml-6 px-2 text-lg">{item.label}</ItemTitle>
                </Item>
              )}
            </div>
          ))
        }
      </Accordion>
    </div>
    <!-- 
    <SheetFooter>
      <SheetClose asChild>
        <Button type="submit">Footer</Button>
      </SheetClose>
    </SheetFooter>
   -->
  </SheetContent>
</Sheet>
