---
import { Card, CardContent } from "@/components/starwind/card"
import { Carousel, CarouselContent, CarouselItem, CarouselNext, CarouselPrevious } from "@/components/starwind/carousel"

import { pb } from "@/content.config"
import { Debug } from "astro/components"
import type { Produs } from "@/lib/pbtypes"

const promos = (
  await pb.collection("produse").getFullList<Produs>({
    filter: "promo=true",
    fields: "id,nume,imagini,index_imagine_principala",
    requestKey: null,
  })
).map((prod) => {
  const imagine_principala = prod.imagini[prod.index_imagine_principala]
  const url_imagine =
    `${process.env.PUBLIC_ASTRO_POCKETBASE_URL}/api/files/produse/${prod.id}/` + `${imagine_principala}`
  return { url_imagine, ...prod }
})
---

<Carousel
  id="carousel-autoplay"
  autoInit={false}
  opts={{ align: "start" }}
  class="mx-auto w-full max-w-xs sm:max-w-none"
>
  <CarouselContent>
    {
      promos.map((prod) => (
        <CarouselItem>
          <div class="bg-muted aspect-square">
            <a href={`/p/${prod.id}`} class="group block overflow-hidden">
              <img
                src={`${prod.url_imagine}`}
                alt=""
                class="h-[300px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[350px]"
              />

              <div class="relative px-1 pt-2">
                <h3 class="font-headings text-xl group-hover:underline group-hover:decoration-pink-500 group-hover:decoration-2 group-hover:underline-offset-4">
                  {prod.nume}
                </h3>
              </div>
            </a>
          </div>
        </CarouselItem>
      ))
    }
  </CarouselContent>
  <CarouselPrevious />
  <CarouselNext />
</Carousel>

<script>
  import Autoplay from "embla-carousel-autoplay"

  import { initCarousel } from "@/components/starwind/carousel"

  function initAutoplayCarousel() {
    const carouselElement = document.getElementById("carousel-autoplay")
    if (!carouselElement) return
    initCarousel(carouselElement, {
      plugins: [
        Autoplay({
          delay: 8000,
        }),
      ],
    })
  }

  initAutoplayCarousel()

  document.addEventListener("astro:after-swap", initAutoplayCarousel)
</script>
