---
import BaseLayout from "@/layouts/BaseLayout.astro"

import { Image } from "astro:assets"

// TODO: clienti in pocketbase collection
const all_logos = import.meta.glob<{ default: ImageMetadata }>(
  "src/assets/logos_clienti/*.{jpg,JPG,jpeg,png,PNG,webp,gif}",
  { eager: true },
)

/**
10_kls.png
11_logo-rebu.jpg
13_logo.png
15_logo_hamburger_recycling.png
16_logo_ipg.jpg
17_logo-big.png
18_recycle-int.jpg
19_rondo.gif
2_8230015.gif
20_urban-logo.gif
22_top-left.jpg
24_Alco-Recycling.jpg
4_avery-dennison-corpo-logo.jpg
7_diren.jpg
9_imagesCAA5BKIM.jpg
 */

const testimonials = [
  /*
  {
    id: 1,
    name: "",
    designation: "",
    company: "Klaussenburg Recycling GmbH",
    testimonial: "",
    avatar: all_logos["/src/assets/logos_clienti/10_kls.png"],
  },
  {
    id: 2,
    name: "",
    designation: "",
    company: "REBU",
    testimonial: "",
    avatar: all_logos["/src/assets/logos_clienti/11_logo-rebu.jpg"],
  },
  */
  { name: "", avatar: all_logos["/src/assets/logos_clienti/13_logo.png"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/15_logo_hamburger_recycling.png"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/16_logo_ipg.jpg"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/17_logo-big.png"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/18_recycle-int.jpg"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/19_rondo.gif"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/2_8230015.gif"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/20_urban-logo.gif"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/22_top-left.jpg"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/24_Alco-Recycling.jpg"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/4_avery-dennison-corpo-logo.jpg"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/7_diren.jpg"] },
  { name: "", avatar: all_logos["/src/assets/logos_clienti/9_imagesCAA5BKIM.jpg"] },
]
---

<BaseLayout>
  <div class="flex min-h-screen items-center justify-center px-6 py-12">
    <div>
      <h2 class="mb-16 text-center text-5xl font-semibold tracking-[-0.03em]">Clienți</h2>
      <div class="mx-auto max-w-(--breakpoint-xl) columns-1 gap-8 md:columns-2 lg:columns-3">
        {
          testimonials.map((testimonial) => (
            <div class="bg-accent relative mb-8 break-inside-avoid rounded-xl p-4">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <p class="space-y-2 text-lg font-medium">
                    {
                      <Image
                        src={testimonial.avatar.default}
                        class="max-h-28 rounded-sm object-cover"
                        alt={testimonial.name}
                      />
                    }
                    {testimonial.name ?? ""}
                    <span class="font-bold">{testimonial.name}</span>
                  </p>
                  {/* <p class="text-muted-foreground text-sm">{testimonial.designation}</p> */}
                </div>
              </div>
              {/* <p class="mt-5 text-[17px]">{testimonial.testimonial}</p> */}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
