---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Image } from "astro:assets"

import illustratie_1 from "src/assets/illustratii/4_statii-de-transfer.jpg"
import illustratie_2 from "src/assets/illustratii/6_linii-rdf.jpg"
import illustratie_3 from "src/assets/illustratii/5_rsz_16_-_statie_de_sortare.jpg"
import PageHero from "@/components/ui/typography/PageHero.astro"

const features = [
  {
    title: "Misiunea noastră",
    description:
      "Misiunea Hațegan Consulting & Trading este de a oferi clienţilor produsele necesare afacerii, ţinând cont de buget, volumul de materiale prelucrate şi amplasament. Noi suntem partenerii industriei de reciclare, de salubritate şi a industriei de prelucrare a hârtiei.",
    image: illustratie_1,
  },
  {
    title: "Clienți",
    description:
      "Clienţii noştri sunt în aceeaşi măsură valorificatori, colectori si reciclatori finali. Pentru fiecare identificăm soluţia optimă necesară investiţiei şi le livrăm utilaje de calitate provenite de la furnizori interni sau externi.",
    image: illustratie_2,
  },
  {
    title: "Management",
    description:
      "Managementul firmei se axează şi pe intermedierea cumpărării şi vânzării de deşeuri, urmărind tendinţele pieţei româneşti din domeniu, piaţă care se află în permanentă dezvoltare. Considerăm că reciclarea este una dintre cele mai simple metode de a proteja planeta de poluare.",
    image: illustratie_3,
  },
]

const timeline = [
  {
    title: "Infiintare",
    description: "Infiintare firma",
    date: "2015",
  },
  {
    title: "Parteneriat Husmann",
    description: "lorem ipsum",
    date: "2019",
  },
  {
    title: "Proiect major Urban",
    description: "descriere milestione",
    date: "2025",
  },
]
---

<BaseLayout>
  <PageHero title="Despre noi" />
  <!--  -->
  <div class="grid gap-x-6 gap-y-12 sm:grid-cols-3 sm:px-4">
    {
      features.map((feature) => (
        <div class="flex w-full flex-col text-start">
          <div class="bg-muted mb-5 sm:mb-6">
            <Image src={feature.image} alt="" />
          </div>
          <p class="text-2xl font-semibold tracking-tight sm:px-4">{feature.title}</p>
          <p class="text-muted-foreground mt-2 sm:px-4">{feature.description}</p>
        </div>
      ))
    }
  </div>

  <!-- Istoric -->
  <!--  
  <div class="mx-auto">
    <h3 class="pb-4 text-2xl font-semibold sm:px-4">Istoric</h3>
    <div class="relative">
      {
        timeline.map(({ title, description, date }) => (
          <div class="group relative">
            {/* Content */}
            <div class="flex items-start">
              <div class="mt-2 mr-5 flex w-[80px] shrink-0 flex-col gap-2 text-end sm:w-[120px]">
                <h6 class="text-lg font-semibold">{date}</h6>
              </div>
              <div class="relative space-y-2 border-l-2 pb-10 pl-6 group-last:pb-4 sm:pl-8">
                {/* Timeline Dot */}
                <div class="bg-background absolute top-4 -left-px h-3 w-3 -translate-x-1/2 rounded-full border-2 border-gray-600" />

                <h3 class="mt-2 text-lg font-semibold">{title}</h3>
                <p class="text-muted-foreground text-sm sm:text-base">{description}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
   -->
</BaseLayout>
