---
import { getCollection } from "astro:content"

import BaseLayout from "@/layouts/BaseLayout.astro"
import PageHero from "@/components/ui/typography/PageHero.astro"
import { Image } from "astro:assets"
import { Badge } from "@/components/starwind/badge"

const allPosts = await getCollection("blog")

// TODO: display and filter tags
---

<BaseLayout>
  <PageHero title="Noutăți" />
  <ul class="grid gap-4 sm:grid-cols-2 sm:px-2 lg:grid-cols-3">
    {
      allPosts.map((post) => {
        const { title, cover, pubDate, tags } = post.data
        return (
          <li class="bg-muted px-1 pb-2">
            <a href={`/n/${post.id}`} class="group block overflow-hidden">
              <div class="flex flex-col">
                <Image
                  src={cover}
                  alt={title}
                  class="object-cover transition duration-500 group-hover:scale-105 sm:h-[350px]"
                />
                <div class="px-1 pt-2">
                  <h3 class="mb-2 text-xl group-hover:underline group-hover:decoration-pink-500 group-hover:decoration-2 group-hover:underline-offset-4">
                    {title}
                  </h3>
                  <div class="">
                    {tags &&
                      tags.map((tag) => (
                        <Badge variant="ghost" class="mr-2">
                          {tag}
                        </Badge>
                      ))}
                  </div>

                  {/* {pubDate && <p>{pubDate}</p>} */}
                </div>
              </div>
            </a>
          </li>
        )
      })
    }
  </ul>
</BaseLayout>
