---
// export const prerender = false

import BaseLayout from "@/layouts/BaseLayout.astro"
import { Image } from "astro:assets"

import Checkbox from "@/components/starwind/checkbox"
import Separator from "@/components/starwind/separator"
import PillCategorie from "@/components/ui/pills/PillCategorie.astro"
import PillPartener from "@/components/ui/pills/PillPartener.astro"
import PillURL from "@/components/ui/pills/PillURL.astro"
import DescriereExtra from "@/components/ui/produs/DescriereExtra.astro"
import Specificatii from "@/components/ui/produs/Specificatii.astro"

import ListaMateriale from "@/components/ui/pills/ListaMateriale.astro"
import { LightGallery } from "astro-lightgallery"
import { pb } from "@/content.config"
import { Debug } from "astro/components"
import type { Produs } from "@/lib/pbtypes"
import { For } from "@forastro/flow"

interface Props {
  id: string
}

const { id } = Astro.params
if (id === undefined) {
  return Astro.redirect("/404")
}
const produs_record = await pb
  .collection("produse")
  .getOne<Produs>(id, { expand: "partener,categorie,materiale", requestKey: null })

if (produs_record === undefined) {
  return Astro.redirect("/404")
}

const {
  nume,
  descriere,
  descriere_extra,
  descriere_extra_tip,
  specificatii,
  url_producator,
  imagini,
  index_imagine_principala,
  variante,
  videos,
  promo,
  expand,
} = produs_record

const { materiale, categorie, partener } = expand

const imgs = imagini.map(
  (img) =>
    // `${process.env.PUBLIC_ASTRO_POCKETBASE_URL}/api/files/produse/${id}/${img}?thumb=200x200f`,
    `${process.env.PUBLIC_ASTRO_POCKETBASE_URL}/api/files/produse/${id}/${img}`,
)
const gallery_imgs = imgs.map((img) => ({ src: img }))

const imagine_produs = imagini[index_imagine_principala]
const src_prinicpala = `${process.env.PUBLIC_ASTRO_POCKETBASE_URL}/api/files/produse/${id}/${imagine_produs}?thumb=200x200f`
---

<BaseLayout>
  <div class="prose dark:prose-invert prose-lg my-6">
    <h1>{nume}</h1>
  </div>

  <Separator />
  <article class="mt-4 flex flex-col gap-2">
    <section class="text-xl font-medium">
      <div set:html={descriere} />
    </section>

    <section>
      {descriere_extra && descriere_extra !== "" && <DescriereExtra text={descriere_extra} tip={descriere_extra_tip} />}
    </section>

    <section class="">
      {specificatii && specificatii != "" && <Specificatii text={specificatii} />}
    </section>

    <section class="flex flex-row gap-1">
      {materiale && <ListaMateriale lista={materiale} class="flex flex-row gap-2" />}
    </section>

    <section><PillURL url={url_producator ?? ""} /></section>
    <section><Checkbox label="promo" checked={promo} /></section>
    <section>{videos}</section>
    <section><PillPartener cod={partener.cod} /></section>
    <section><PillCategorie slug={String(categorie.slug)} /></section>
    <section class="p-4">
      <!-- TODO: view transition hero -->
      <Image src={src_prinicpala} inferSize alt={nume} />
    </section>
    <section>
      <LightGallery layout={{ imgs: gallery_imgs }} />
    </section>
  </article>
</BaseLayout>
