---
// export const prerender = false

import BaseLayout from "@/layouts/BaseLayout.astro"

import Separator from "@/components/starwind/separator"
import PillCategorie from "@/components/ui/pills/PillCategorie.astro"
import PillPartener from "@/components/ui/pills/PillPartener.astro"
import PillURL from "@/components/ui/pills/PillURL.astro"
import DescriereExtra from "@/components/ui/produs/DescriereExtra.astro"
import Specificatii from "@/components/ui/produs/Specificatii.astro"
import ListaMateriale from "@/components/ui/pills/ListaMateriale.astro"
import VarianteProdus from "@/components/ui/produs/VarianteProdus.astro"

import { pb } from "@/content.config"
import type { Produs } from "@/lib/pbtypes"

interface Props {
  id: string
}

const { id } = Astro.params
if (id === undefined) {
  return Astro.redirect("/404")
}
const produs_record = await pb
  .collection("produse")
  .getOne<Produs>(id, { expand: "partener,categorie,materiale", requestKey: null })

if (produs_record === undefined) {
  return Astro.redirect("/404")
}

const {
  nume,
  descriere,
  descriere_extra,
  descriere_extra_tip,
  specificatii,
  url_producator,
  imagini,
  index_imagine_principala,
  variante_scurt,
  variante_json,
  expand,
} = produs_record

// console.dir(variante_scurt)
const { materiale, categorie, partener } = expand

const imgs = imagini.map((img) => `/pocket/api/files/produse/${id}/${img}`)
const gallery_imgs = imgs.map((img) => ({ src: img }))

const imagine_produs = imagini[index_imagine_principala]
const src_prinicpala = `/pocket/api/files/produse/${id}/${imagine_produs}`
---

<BaseLayout title={nume}>
  <div class="grid gap-2 sm:grid-cols-12 sm:gap-4 sm:px-2">
    <!-- nume+ -->
    <div class="space-y-4 sm:col-span-7">
      <div class="prose dark:prose-invert my-6">
        <h1 class="">{nume}</h1>
      </div>
      <div class="text-xl font-medium"><div set:html={descriere} /></div>
      <div class="flex flex-wrap gap-2">
        <PillPartener cod={partener.cod} />{categorie && <PillCategorie slug={String(categorie.slug)} />}
      </div>
      <div class="">
        {materiale && <ListaMateriale lista={materiale} class="flex flex-row gap-2" />}
      </div>
    </div>
    <!-- poza -->
    <div class="p-2 sm:col-span-5">
      <img src={src_prinicpala} alt={nume} />
    </div>
  </div>

  <Separator />

  {
    variante_json && (
      <div class="sm:px-2">
        <VarianteProdus variante={variante_json} />
        <Separator />
      </div>
    )
  }

  <article class="mt-4 flex flex-col gap-2 sm:px-2">
    <section>
      {descriere_extra && descriere_extra !== "" && <DescriereExtra text={descriere_extra} tip={descriere_extra_tip} />}
    </section>
    <section class="">
      {specificatii && specificatii != "" && <Specificatii text={specificatii} />}
    </section>

    <!-- <section><LightGallery layout={{ imgs: gallery_imgs }} /></section> -->
    <section>
      <div id="gallery" class="container mx-auto grid grid-cols-2 gap-2 pb-2 md:grid-cols-3">
        {
          gallery_imgs.map((imagine) => (
            <a href={imagine.src} target="_blank" class="glightbox">
              <img
                src={imagine.src}
                alt={"altText"}
                height={350}
                class={"aspect-[3/2] w-full object-cover transition duration-300 ease-in-out"}
              />
            </a>
          ))
        }
      </div>
    </section>

    <section><PillURL url={url_producator ?? ""} /></section>
  </article>
</BaseLayout>

<script>
  import GLightbox from "glightbox"
  import "glightbox/dist/css/glightbox.min.css"

  document.addEventListener("astro:page-load", () => {
    const lightbox = GLightbox({
      touchNavigation: true,
      autoplayVideos: true,
      loop: true,
      draggable: true,
    })
  })
</script>
