---
export const prerender = false

import { Debug } from "astro:components"
import { For } from "@forastro/flow"

import BaseLayout from "@/layouts/BaseLayout.astro"
import { getEntry } from "astro:content"

import { descriere_extra_to_html, specificatii_to_html } from "@/lib/util"
import Separator from "@/components/starwind/separator"
import { Image } from "astro:assets"
import Checkbox from "@/components/starwind/checkbox"
import PillMaterial from "@/components/ui/PillMaterial.astro"

interface Props {
  id: string
}

const { id } = Astro.params
if (id === undefined) {
  return Astro.redirect("/404")
}
const produs_record = await getEntry("produse", id)
if (produs_record === undefined) {
  return Astro.redirect("/404")
}

const {
  nume,
  descriere,
  descriere_extra,
  specificatii,
  url_producator,
  imagini,
  materiale,
  videos,
  promo,
  parteneri_cod,
  parteneri_nume,
  categorii_slug,
  categorii_nume,
} = produs_record.data

const descriere_extra_html = descriere_extra_to_html(
  descriere_extra,
  "font-semibold mb-0.5",
  "font-light mb-3",
)
---

<BaseLayout>
  <h1>Produs</h1>
  <Debug {materiale} />

  <Separator />

  <article class="mt-4 flex flex-col gap-2">
    <!-- nume -->
    <section class="text-4xl font-semibold tracking-tight">{nume}</section>

    <!-- descriere -->
    <section class="text-xl font-medium">
      <div set:html={descriere} />
    </section>

    <!-- TODO: fns to components -->
    <!-- descriere_extra -->
    <section class="line-clamp-6" set:html={descriere_extra_html} />

    <!-- specificatii -->
    <section
      class="line-clamp-6"
      set:html={specificatii_to_html(specificatii)}
    />
    <section class="flex flex-row gap-1">
      {
        materiale && (
          <For of={materiale}>
            {(material) => <PillMaterial id={material} />}
          </For>
        )
      }
    </section>

    <section>{url_producator}</section>
    <section><Checkbox label="promo" checked={promo} /></section>
    <section>{videos}</section>
    <section>{parteneri_cod} - {parteneri_nume}</section>
    <section>{categorii_slug}: {categorii_nume}</section>

    <!-- imagini -->
    <section class="flex flex-wrap gap-1">
      {
        imagini && (
          <For of={imagini}>
            {(img) => (
              <Image src={`${img}?thumb=200x200f`} alt={nume} inferSize />
              // <img src={`${img}`} class="aspect-square w-48" alt={nume} />
            )}
          </For>
        )
      }
    </section>
  </article>
</BaseLayout>
