---
export const prerender = false

import BaseLayout from "@/layouts/BaseLayout.astro"
import { getEntry } from "astro:content"

import Checkbox from "@/components/starwind/checkbox"
import Separator from "@/components/starwind/separator"
import PillCategorie from "@/components/ui/pills/PillCategorie.astro"
import PillPartener from "@/components/ui/pills/PillPartener.astro"
import PillURL from "@/components/ui/pills/PillURL.astro"
import DescriereExtra from "@/components/ui/produs/DescriereExtra.astro"
import Specificatii from "@/components/ui/produs/Specificatii.astro"

import ListaMateriale from "@/components/ui/pills/ListaMateriale.astro"
import { LightGallery } from "astro-lightgallery"
import { ProduseResponseZodSchema } from "@/lib/pb-zod"
import { pb } from "@/content.config"
import { Debug } from "astro/components"

interface Props {
  id: string
}

const { id } = Astro.params
if (id === undefined) {
  return Astro.redirect("/404")
}
// const produs_record = await getEntry("produse", id)
const produs_record = await pb.from("produse").getOne(id)

if (produs_record === undefined) {
  return Astro.redirect("/404")
}

const {
  nume,
  descriere,
  descriere_extra,
  specificatii,
  url_producator,
  imagini,
  materiale,
  videos,
  promo,
  // parteneri_cod,
  // categorii_slug,
} = produs_record

// const gallery_imgs = (imagini ?? []).map((img) => ({ src: img }))

// TODO: produs imagine principala extra column
// TODO: single image
// TODO: descriere_extra --> types (dd, rich text)
---

<BaseLayout>
  <h1>Produs</h1>
  <Debug {produs_record} />

  <Separator />
  <!-- 
  <article class="mt-4 flex flex-col gap-2">

    <section class="text-4xl font-semibold tracking-tight">{nume}</section>


    <section class="text-xl font-medium">
      <div set:html={descriere} />
    </section>



    <section>
      {
        descriere_extra && descriere_extra !== "" && (
          <DescriereExtra text={descriere_extra} />
        )
      }
    </section>


    <section>
      {
        specificatii && specificatii != "" && (
          <Specificatii text={specificatii} />
        )
      }
    </section>


    <section class="flex flex-row gap-1">
      {
        materiale && (
          <ListaMateriale lista={materiale} class="flex flex-row gap-2" />
        )
      }
    </section>

    <section><PillURL url={url_producator ?? ""} /></section>
    <section><Checkbox label="promo" checked={promo} /></section>
    <section>{videos}</section>
    <section><PillPartener cod={parteneri_cod} /></section>
    <section><PillCategorie slug={String(categorii_slug)} /></section>


    <section class="flex flex-wrap gap-1">
      {
        imagini && (
          <For of={imagini}>
            {(img) => (
              <Image src={`${img}?thumb=200x200f`} alt={nume} inferSize />
              // <img src={`${img}`} class="aspect-square w-48" alt={nume} />
            )}
          </For>
        )
      }
    </section>


    <section>
      <LightGallery layout={{ imgs: gallery_imgs }} />
    </section>
  </article>
 -->
</BaseLayout>
