---
export const prerender = false

import { For } from "@forastro/flow"

import BaseLayout from "@/layouts/BaseLayout.astro"
import { getEntry } from "astro:content"

import Checkbox from "@/components/starwind/checkbox"
import Separator from "@/components/starwind/separator"
import PillCategorie from "@/components/ui/pills/PillCategorie.astro"
import PillMaterial from "@/components/ui/pills/PillMaterial.astro"
import PillPartener from "@/components/ui/pills/PillPartener.astro"
import PillURL from "@/components/ui/pills/PillURL.astro"
import DescriereExtra from "@/components/ui/produs/DescriereExtra.astro"
import Specificatii from "@/components/ui/produs/Specificatii.astro"
import { Image } from "astro:assets"

import { LightGallery } from "astro-lightgallery"

interface Props {
  id: string
}

const { id } = Astro.params
if (id === undefined) {
  return Astro.redirect("/404")
}
const produs_record = await getEntry("produse", id)
if (produs_record === undefined) {
  return Astro.redirect("/404")
}

const {
  nume,
  descriere,
  descriere_extra,
  specificatii,
  url_producator,
  imagini,
  materiale,
  videos,
  promo,
  parteneri_cod,
  categorii_slug,
} = produs_record.data

const gallery_imgs = (imagini ?? []).map((img) => ({ src: img }))
---

<BaseLayout>
  <h1>Produs</h1>
  <!-- <Debug {materiale} /> -->

  <Separator />

  <article class="mt-4 flex flex-col gap-2">
    <!-- nume -->
    <section class="text-4xl font-semibold tracking-tight">{nume}</section>

    <!-- descriere -->
    <section class="text-xl font-medium">
      <div set:html={descriere} />
    </section>

    <!-- descriere_extra -->
    <!-- <section class="line-clamp-6" set:html={descriere_extra_html} /> -->
    <section>
      {descriere_extra && <DescriereExtra text={descriere_extra} />}
    </section>

    <!-- specificatii -->
    <section>
      {specificatii && <Specificatii text={specificatii} />}
    </section>

    <!-- materiale -->
    <section class="flex flex-row gap-1">
      {
        materiale && (
          <For of={materiale}>
            {(material) => <PillMaterial id={material} />}
          </For>
        )
      }
    </section>

    <section><PillURL url={url_producator ?? ""} /></section>
    <section><Checkbox label="promo" checked={promo} /></section>
    <section>{videos}</section>
    <section><PillPartener cod={parteneri_cod} /></section>
    <section><PillCategorie slug={String(categorii_slug)} /></section>

    <!-- imagini -->
    <section class="flex flex-wrap gap-1">
      {
        imagini && (
          <For of={imagini}>
            {(img) => (
              <Image src={`${img}?thumb=200x200f`} alt={nume} inferSize />
              // <img src={`${img}`} class="aspect-square w-48" alt={nume} />
            )}
          </For>
        )
      }
    </section>

    <!-- gallery -->
    <section>
      <LightGallery layout={{ imgs: gallery_imgs }} />
    </section>
  </article>
</BaseLayout>
