---
// import Logo from "@/assets/logo-hct.svg"
import Logo from "@/assets/hct-logo-simple.svg"
import LogoText from "@/assets/logo-text-hategan-ct.svg"
import ChevronDown from "@tabler/icons/outline/chevron-down.svg"

import { navigationLinks } from "@/config/menu"
import Button from "./starwind/button"
import {
  Dropdown,
  DropdownTrigger,
  DropdownContent,
  DropdownItem,
  DropdownLabel,
  DropdownSeparator,
} from "@/components/starwind/dropdown"

import { Toggle } from "astro-theme-toggle"
import LangSelect from "./ui/blocks/LangSelect.astro"
import Hamburger from "./ui/blocks/Hamburger.astro"
---

<nav class="bg-muted/50 w-full">
  <div class="flex h-24 items-center gap-8 px-4 sm:px-6 lg:px-8">
    <a class="block" href="/">
      <Logo class="mr-1 inline-block size-10 sm:size-14" />
      <LogoText class="mr-1 inline-block size-44 sm:size-60" />
    </a>

    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center text-sm">
          {
            navigationLinks.map((item) => (
              <li>
                {item.items ? (
                  <Dropdown openOnHover>
                    <DropdownTrigger asChild>
                      <Button size="sm" variant="ghost">
                        {item.label}
                        <ChevronDown class="size-4 opacity-50" />
                      </Button>
                    </DropdownTrigger>
                    <DropdownContent class="min-w-[300px]">
                      {item.items.map((subitem) => (
                        <DropdownItem as="a" href={subitem.href}>
                          {subitem.label}
                          {subitem.description ? "" : ""}
                        </DropdownItem>
                      ))}
                    </DropdownContent>
                  </Dropdown>
                ) : (
                  <Button variant="ghost" size="sm" href={item.href} title={item.description} class="">
                    {item.label}
                  </Button>
                )}
              </li>
            ))
          }
        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <!-- TODO: align middle -->
        <div class="hidden sm:flex sm:gap-1">
          <!-- 
          <Button variant="ghost">
            <Toggle class="pt-1.5" />
          </Button>
           -->
          <LangSelect />
        </div>

        <!-- TODO: hamburger, mobile nav -->
        <div class="block md:hidden">
          <Hamburger />
        </div>
      </div>
    </div>
  </div>
</nav>
