---
import LogoOriginal from "@/assets/logo-hct-original.svg"
import ChevronDown from "@tabler/icons/outline/chevron-down.svg"

import { Dropdown, DropdownContent, DropdownItem, DropdownTrigger } from "@/components/starwind/dropdown"
import { navigationLinks } from "@/config/menu"
import Button from "./starwind/button"

import Hamburger from "./ui/blocks/Hamburger.astro"
import LangSelect from "./ui/blocks/LangSelect.astro"
import Search from "./ui/blocks/Search.astro"
---

<nav class="w-full bg-gradient-to-t from-slate-300 to-gray-200">
  <div class="container mx-auto">
    <div class="flex h-24 items-center gap-8 px-4 sm:px-6 lg:px-8">
      <div class="flex flex-row items-center">
        <a href="/"><LogoOriginal class="mr-1 size-14 md:size-16" /></a>
        <!-- <LogoText class="mr-1 hidden h-8 max-[500px]:inline-block" /> -->
      </div>

      <div class="flex flex-1 items-center justify-end md:justify-between">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center text-sm">
            {
              navigationLinks.map((item) => (
                <li>
                  {item.items ? (
                    <Dropdown openOnHover>
                      <DropdownTrigger asChild>
                        <Button size="md" variant="ghost" class="px-2 lg:px-4">
                          {item.label}
                          <ChevronDown class="size-4 opacity-50" />
                        </Button>
                      </DropdownTrigger>
                      <DropdownContent class="min-w-[300px]">
                        {item.items.map((subitem) => (
                          <DropdownItem as="a" class="cursor-pointer text-base" href={subitem.href}>
                            {subitem.label}
                          </DropdownItem>
                        ))}
                      </DropdownContent>
                    </Dropdown>
                  ) : (
                    <Button variant="ghost" size="md" href={item.href} title={item.description} class="px-2 lg:px-4">
                      {item.label}
                    </Button>
                  )}
                </li>
              ))
            }
          </ul>
        </nav>

        <div class="flex gap-2">
          <div class="hidden md:flex md:items-center">
            <Search />
            <LangSelect />
          </div>

          <div class="block md:hidden">
            <Hamburger />
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</nav>
